.content
  %ul.list
    %li
      %h4
        %span STATS
      .box.black
        :plain
          <iframe src="http://www.slideshare.net/slideshow/embed_code/18110514" width="599" height="487" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>

    %li
      %h4
        %span WTF?! == THE INCONCLUSIVE STORY OF UNDERWEAR
      .box.text

        %p
          Unerdwear is a silly joke (followed by a subsequent domain purchase) that kind of grew out of proportions.  That’s what happens when you tell jokes about really cool designer boxers in an office full of bad-ass developers. It was peer pressure mixed with curiosity mixed with alcohol mixed with
          %a{href: "http://www.slideshare.net/Unerdwear/unerdwear-research-sheet-2013", target: "_blank"}
            serious scientific research.
          We’re still not sure what’s going to come out of it but the future will surely tell!

        %p
          What are Nerdies? They are designer softwear. We like to think of them as a developer tool for clean tech. They are unisex (girls can sleep in them just like we do).

        %p
          We--girls behind Unerdwear--love nerdy guys and girls, technology, great design (well, just look at this website!!!) and want to keep making fun dents in the Universe. Who are WE?
          %a{href: "http://about.me/socha", target: "_blank"}
            Socha
          and
          %a{href: "http://about.me/kabojanowska", target: "_blank"}
            Kasia
          are working on designs and production.
          <a href="http://about.me/ela", target: "_blank">Ela</a>,
          who had the original stupid idea, is our investor and advisor, so is
          <a href="http://about.me/agatkamazur", target: "_blank">Agata</a>. And
          <a href="http://about.me/basiam", target: "_blank">Basia</a> helped us put this amazing website together.

        %p
          The project is greatly supported and thoroughly tested by everyone at Applicake (pictures from our developer assembly line soon!!). And we’re getting a lot of love from Base guys, whom we share offices with.. We have officially launched at MMConf and Railsberry - great developer events we helped produce, too. Unerdwear was conceived in Krakow, Poland but is soon going to New York ;).


    %li
      %h4
        %span COVERAGE OR EXPOSURE?  == UNERDWEAR IN PRESS
      .box.text

        %p
          %a{href: "http://techcrunch.com/2013/04/01/techcrunchs-freezing-european-team-departs-to-launch-unerdwear-3d-softwear-startup/", target: "_blank"}
            http://techcrunch.com/2013/04/01/techcrunchs-freezing-european-team-departs-to-launch-unerdwear-3d-softwear-startup/
        %p
          %a{href: "http://www.getthefive.com/articles/the-idealist/unerdwear-underwear-dreamed-up-by-nerds-for-nerds/", target: "_blank"}
            http://www.getthefive.com/articles/the-idealist/unerdwear-underwear-dreamed-up-by-nerds-for-nerds/
        %p
          %a{href: "http://thenextweb.com/insider/2013/04/01/unerdwear-to-launch-ballsy-new-line-of-underwear-for-nerds/?fromcat=all", target: "_blank"}
            http://thenextweb.com/insider/2013/04/01/unerdwear-to-launch-ballsy-new-line-of-underwear-for-nerds/?fromcat=all

    %li
      %h4
        %span TALK NERDY TO US == CONTACT
      .box.text

        %p
          Follow us on the interwebz to make sure you don’t miss when we launch pre-orders. But, really, it’s best to join our newsletter.
          You can always casually email us at
          %a{href: "mailto:unerdwear@gmail.com"} unerdwear@gmail.com
          \.

        %br
        %p
          FACEBOOK  -
          %a{href: "https://www.facebook.com/Unerdwear", target: "_blank"}
            https://www.facebook.com/Unerdwear
        %p
          TWITTER -
          %a{href: "https://twitter.com/unerdwear", target: "_blank"}
            https://twitter.com/unerdwear
        %p
          ANGELLIST -
          %a{href: "https://angel.co/unerdwear-1", target: "_blank"}
            https://angel.co/unerdwear-1
  %br
  .clear
  #bottom.menu= haml :menu, { layout:false }
