%ul
  %li
    %h4
    .box.black
      :plain
        <iframe src="http://www.slideshare.net/slideshow/embed_code/18110514" width="599" height="487" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>

  %li
    %h4
    .box.text
      %h5 WTF?! == THE INCONCLUSIVE STORY OF UNDERWEAR

      %p
        Work in progress:
      %p
        Software =&gt; Softwear
      %p
        Unerdwear is a silly joke (followed by a subsequent domain purchase) that kind of grew out of proportions.  The founders of Unerdwear are
      %p
        The girls behind Unerdwear love softwear, nerds and great design and want to make a little dent in the universe. We're probably getting ourselves in trouble but this is what we would have done anyway…
      %p
        We still can't decide whether it's a business or a joke. It's a developer tool for clean tech. Or was it clean tech for developer tools? Underwear for nerds. Because we really love softwear.
  %li
    %h4
    .box.text
      %h5 COVERAGE OR EXPOSURE?  == UNERDWEAR IN PRESS

      %p
        %a{href: "http://techcrunch.com/2013/04/01/techcrunchs-freezing-european-team-departs-to-launch-unerdwear-3d-softwear-startup/", target: "_blank"}
          http://techcrunch.com/2013/04/01/techcrunchs-freezing-european-team-departs-to-launch-unerdwear-3d-softwear-startup/
      %p
        %a{href: "http://www.getthefive.com/articles/the-idealist/unerdwear-underwear-dreamed-up-by-nerds-for-nerds/", target: "_blank"}
          http://www.getthefive.com/articles/the-idealist/unerdwear-underwear-dreamed-up-by-nerds-for-nerds/
      %p
        %a{href: "http://thenextweb.com/insider/2013/04/01/unerdwear-to-launch-ballsy-new-line-of-underwear-for-nerds/?fromcat=all", target: "_blank"}
          http://thenextweb.com/insider/2013/04/01/unerdwear-to-launch-ballsy-new-line-of-underwear-for-nerds/?fromcat=all

  %li
    %h4
    .box.text
      %h5 TALK NERDY TO US == CONTACT

      %p
        Follow us on the interwebz to make sure you don’t miss when we launch pre-orders. But, really, it’s best to join our newsletter.
        You can always casually email us at
        %a{href: "mailto:unerdwear@gmail.com"} unerdwear@gmail.com
        \.

      %br
      %p
        FACEBOOK  -
        %a{href: "https://www.facebook.com/Unerdwear", target: "_blank"}
          https://www.facebook.com/Unerdwear
      %p
        TWITTER -
        %a{href: "https://twitter.com/unerdwear", target: "_blank"}
          https://twitter.com/unerdwear
      %p
        ANGELLIST -
        %a{href: "https://angel.co/unerdwear-1", target: "_blank"}
          https://angel.co/unerdwear-1
%br
.clear
