%ul#slider
  - ["bacon.png", "lego.png", "flamingos.png", "boxers_2.png", "boxers_1.png"].shuffle.each do |i|
    %li
      %img.slajd{src: "/images/#{i}", alt: "You no want?"}
      %img.info{src: "/images/info.gif", alt: "Info"}

.clear
