#slider
  %ul
    %li
      %img{src: "/images/slajd1.jpg", alt: "You no want?"}
    %li
      %img{src: "/images/slad2.jpg", alt: "You no want?"}
    %li
      %img{src: "/images/slajd3.jpg", alt: "You no want?"}
    %li
      %img{src: "/images/slajd4.jpg", alt: "You no want?"}

  .bottom
    %h2
      Oh, no jut scrolled somewhere
      %br/
      you were not supposed to scroll!
    %p
      You bad hacker! you will delete the whole interwebz!!
.clear

:javascript
  $(document).ready(function() {
      $('#slider ul').roundabout();
  });
