#menu
  %div.wrapper
    %ul
      %li
        %a{href: "/"}
          %h1
            %img{src: "/images/logo.jpg", alt: "logo"}
      %li.bang
        %a{href: "/wash"}
          %img{src: "/images/wash_logo.png", alt: "wash"}
      %li.bang
        %a{href: "/about"}
          %img{src: "/images/about_logo.png", alt: "about"}
    .form
      %h2
        %img{src: "/images/newsletter.png", alt: "newsletter"}
      :plain
        <!-- Begin MailChimp Signup Form -->
        <form action="http://unerdwear.us4.list-manage2.com/subscribe/post?u=b3c76bec56487cb5abab98f66&amp;id=b303d350b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your e-mail">
          <input type="submit" value="WANT" name="subscribe" id="mc-embedded-subscribe" class="button">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </form>
        <!--End mc_embed_signup-->
    %a.kitty{href: "https://www.facebook.com/Unerdwear", target: "_blank"}
      %img{src: "/images/cat.png", alt: "evil kitten with super powers"}
    = haml :social, { layout:false }
