%h1
  %img{src: "/images/wash_headline.png", alt: "You no want?"}


%ul#washlist
  %li.wash
    %h4
    .box
      %p
        Group all your Nerdies in sets. (ok, and other garments if you really have to or don't have enough Nerdies to fill up your washing machine). Now pay attention! Each set should consist of items in similar colors.

      %p
        Why? Turns out when you wash similar clothes together, they are more likely to find a match for themselves--a nice nerdy similar significant other--and this makes them happy. Keep your Nerdies happy!

  %li.wash
    %h4
    .box
      %p
        Find a working washing machine. Then take one of your laundry sets (possibly one you need the most) and calmly approach the machine. The trick is to keep breathing deep and not panic--the washing machine can tell when you’re afraid and bad things can happen then. Open the door, check if there’s nothing inside, load, close the door. You’re halfway there!

  %li.wash
    %h4
    .box
      %h5
        Btw -
        %a{href:"http://en.wikipedia.org/wiki/Laundry_detergent", target: "_blank"}
          http://en.wikipedia.org/wiki/Laundry_detergent
      %p Laundry detergent, or washing powder

  %li.wash
    %h4
    .box
      %p
        NOW THIS IS THE BEST! Doing the laundry EARNS you between 45 mins and 2 hours of FREE time!

      %p
        There's plenty you can do with it, here are our modest suggestions if just staring at your washing machine somehow does not sound exciting enough ;).

%br
.clear
