@font-face {
  font-family: HH;
  src: url("../../fonts/hh/SF_Hollywood_Hills.ttf");
}
@font-face {
  font-family: HHB;
  font-weight: bold;
  src: url("../../fonts/hh/SF_Hollywood_Hills_Bold.ttf");
}
@font-face {
  font-family: HHC;
  src: url("../../fonts/hh/SF_Hollywood_Hills_Condensed.ttf");
}

html, body {
  height: 100%;
}
body#home {
  background-image: url("../../images/home.jpg");
}
body#wash {
  background-image: url("../../images/wash.jpg");
}
body#about {
  background-image: url("../../images/about.jpg");
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: HH;
}
#menu {
  padding-top: 20px;
  width: 960px;
  margin: 0px auto 0px;
}
#menu div {
  background: #fff200;
  height: 100px;
}
