@font-face {
  font-family: HH;
  src: url("../../fonts/hh/SF_Hollywood_Hills.ttf");
}
@font-face {
  font-family: HHB;
  font-weight: bold;
  src: url("../../fonts/hh/SF_Hollywood_Hills_Bold.ttf");
}
@font-face {
  font-family: HHC;
  src: url("../../fonts/hh/SF_Hollywood_Hills_Condensed.ttf");
}
@font-face {
  font-family: HHE;
  src: url("../../fonts/hh/SF_Hollywood_Hills_Extended.ttf");
}

@font-face {
  font-family: Munro;
  src: url("../../fonts/munro/munro.ttf");
}
