@import "compass/reset";
@import "compass/css3";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  position: relative;
  background-attachment:fixed;
  @include background-size(cover);
}

body#home {
  background-image: url("../../images/kittens.jpg");
  background-position: center center;
}

body#wash {
  background-image: url("../../images/wash_bgd.jpg");
}

body#about {
  background-image: url("../../images/about.jpg");
}

body#fit {
  background-color: #ececec;
}

h1 {
  font-family: HH;
  width: 786px;
  margin: 0 auto;
}

#top {
  top: 20px;
}
#bottom {
  bottom: 20px;
}
.menu {
  z-index: 10000;
  width: 960px;
  margin: 0px auto 0px;
  position: absolute;
  left: 50%;
  margin-left: -480px;

  div.wrapper {
    background: #fff200;
    height: 99px;
    @include box-shadow(2px 2px 0px rgba(1,1,2,0.6));
  }
  ul {
    width: 500px;
    float: left;
    margin-right: 20px;
  }
  li {
    width: 110px;
    float: left;
    text-align: center;
    &.logo {
      text-align: left;
    }
    &.about {
      margin-left: -7px;
      margin-top: 25px;
    }
    &.wash {
      margin-left: -14px;
      margin-top: 7px;
    }
    &.fit {
      margin-left: -24px; margin-top: 25px;
    }
    &.blog {
      margin-top: 12px;
      margin-left: -5px;
    }
  }

  .form {
    width: 220px;
    float: left;
    input {
      border: 1px solid #000;
      float: left;
    }
    input[type="email"] {
      background: #fff200;
      font-size: 16px;
      padding: 6px 4px;
      margin: 5px 0px 0px;
      width: 140px;
    }
    input[type="submit"] {
      margin: 5px 0px 0px;
      background: #000;
      font-size: 17px;
      color: #fff200;
      padding: 5px 0px;
      width: 60px;
    }
  }

  h2 {
    color: #ff0000;
    height: 35px;
    font-size: 34px;
    font-family: HHC;
    margin-top: 15px;
  }
  .kitty img {
    margin-top: -12px;
  }
}
.content {
  width: 960px;
  margin: 0px auto 0px;
  padding-bottom: 50px;
  position: relative;
}
#about .content, #wash .content{
  padding-top: 240px;
}

#home .content {
  padding-top: 100px;
}

#fit .content {
  padding-top: 180px;
}


#washlist {
  margin-top: 140px;
  li img {
    float: left;
    margin-bottom: 20px;
  }
  li p, li h5, li .code-wrapper {
    float: left;
    margin-left: 30px;
  }
  .find .code-wrapper {
    font-size: 13px;
    width: 280px;
  }
  .wash p {
    width: 280px;
    margin-left: 30px;
  }

  .box {
    clear: both;
    padding-top: 30px;
  }
  pre {
    font-size: 11px;
    font-family: Arial;
    line-height: 12px;
    margin-bottom: 40px;
  }
  .last {
    .box { text-align: center;}
    img {float: none}
  }
}

ul.list {
  padding-bottom: 100px;
  li {
    margin-bottom: 40px;
    @include box-shadow(6px 6px 0px rgba(1,1,2,0.6));
    h4 {
      height: 30px;
      padding: 6px 0px;
      width: 99%;
      padding-left: 1%;
      background-image: url("../../images/wash_box_top.png");
      font-family: Munro;
      font-size: 28px;
      span {
        background: #fff;
        padding: 2px 3px;
        display: inline-block;
      }
    }
    .box {
      width: 938;
      background: #fff;
      border: 1px solid #000;
      font-size: 18px;
      line-height: 24px;
      iframe {
        margin: 0 auto;
        display: block;

      }
      &.black {
        background: #000;
      }
      &.text {
       padding: 60px 60px;
      }
    }
    p {
      margin-bottom: 10px;
    }
  }
}

.clear {
  clear: both;
  display: block;
}

.social-box {
  width: 80px;
  float: right;
  div.share {
    margin-top: 10px;
  }
}

#slider {
  margin-bottom: 100px;
  li {
    position: relative;
    width: 960px;
    margin-bottom: 10px;
    img.slajd {
      margin: 0 auto;
      display: block;
    }
    img.info {
      position: absolute;
      bottom: 100px;
      right: 50px;
    }
  }
}
#fit img.fit {
  display: block;
  margin-bottom: 120px;
}
